body{
    margin: auto;
}
#imageCatalog{
gap: 50px;
}
#leftimg{
    width: 400px;  
    height: 400px;  
}
#middleimg{
    width: 400px;  
    height: 400px;  
}
#rightimg{
    width: 400px;  
    height: 400px;  
}